* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

#conteiner {
    font-family: "Jost", sans-serif;
    height:100vh;
    width: 100%;
    background-color:hsl(221, 100%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent{
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    height:450px;
    width:650px;
    background-color: hsl(0, 0%, 100%);
}

#box1_1 {
    padding: 15X;
    border-radius: 30px;
    background:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;
    width: 50%;
    height:450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#children1 {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background:linear-gradient(hsla(256, 72%, 46%, 1),rgba(78, 33, 202, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 80px;
    color: hsl(0, 0%, 100%);
}

#firsth {
    color:hsl(241, 100%, 89%);
    font-size: 20px;
    font-weight: 600;
}

#secondh {
    color: hsl(224, 30%, 27%);
    font-size: 20px;
    font-weight: 600;
}

#p1 {
    color: hsl(252, 100%, 67%);
}

#p1_1 {
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

#p2 {
    color:hsl(241, 100%, 89%);
    text-align: center;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

#box {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 45px;
    gap: 30px;
}

#parent2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.boxs {
    width: 250px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    border-radius: 10px;
    font-size: smaller;
    font-weight: 300;
}

.imagedivs {
    height: 20px;
    width: 20px;
}

#imagediv1 {
    background-image:url("images/icon-reaction.svg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#imagediv2 {
    background-image:url("images/icon-memory.svg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#imagediv3 {
    background-image:url("images/icon-verbal.svg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#imagediv4 {
    background-image:url("images/icon-visual.svg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.divs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
    
}

#box1 {
    background-color: hsla(0, 100%, 67%, 0.077);
    gap: 80px;
}

#div1 { 
    color: hsl(0, 100%, 67%);
}

#box2{
    gap: 85px;
    background-color: hsla(39, 100%, 56%, 0.077);
}

#div2 {
    color:hsl(39, 100%, 56%);
}

#box3 {
    gap: 97px;
    background-color: hsla(166, 100%, 37%, 0.079);
}

#div3 {
    color:hsl(166, 100%, 37%);
}

#box4 {
    gap:97px;
    background-color: hsla(234, 85%, 45%, 0.079);
}

#div4 {
    color:hsl(234, 85%, 45%);
}

h4 {
    padding-right: 10px;
}

b {
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

#btn {
    height: 50px;
    width: 250px;
    border:1px solid  hsl(224, 30%, 27%);
    background-color:  hsl(224, 30%, 27%);
    border-radius: 30px;
    color: white;
    font-size: 16px;
}

#btn:hover {
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-color:hsl(252, 100%, 67%);
}

@media (max-width: 500px) {
    #parent{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    background-color: hsl(0, 0%, 100%);
    }
    #box1_1 {
    padding: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;
    width: 100%;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    }
    #p2 {
    color:hsl(241, 100%, 89%);
    text-align: center;
    font-size: 22px;
    padding-left: 50px;
    padding-right: 50px;
    }

    #parent2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    #box {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 25px;
    gap: 20px;
    }

    .boxs {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
    }
    #box1 {
    background-color: hsla(0, 100%, 67%, 0.077);
    gap: 44%;
    }

    #div1 { 
    color: hsl(0, 100%, 67%);
    }

    #box2{
    gap: 45%;
    background-color: hsla(39, 100%, 56%, 0.077);
    }

    #div2 {
    color:hsl(39, 100%, 56%);
    }

    #box3 {
    gap: 49%;
    background-color: hsla(166, 100%, 37%, 0.079);
    }

    #div3 {
    color:hsl(166, 100%, 37%);
    }

    #box4 {
    gap:49%;
    background-color: hsla(234, 85%, 45%, 0.079);
    }

    #div4 {
    color:hsl(234, 85%, 45%);
    }

    h4 {
    padding-right: 20px;
    }
    .imagedivs {
    height: 25px;
    width: 25px;
    }
    #secondh {
    color: hsl(224, 30%, 27%);
    font-size: 25px;
    font-weight: 600;
    }
    #btn {
    height: 70px;
    width: 100%;
    border:1px solid  hsl(224, 30%, 27%);
    background-color:  hsl(224, 30%, 27%);
    border-radius: 40px;
    color: white;
    font-size: 16px;
    }
}

@media (max-width: 482px) {
    #parent{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    background-color: hsl(0, 0%, 100%);
    }
    #box1_1 {
    padding: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%)) ;
    width: 100%;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    }
    #p2 {
    color:hsl(241, 100%, 89%);
    text-align: center;
    font-size: 22px;
    padding-left: 50px;
    padding-right: 50px;
    }

    #parent2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    #box {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 25px;
    gap: 20px;
    }

    .boxs {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 300;
    }
    #box1 {
    background-color: hsla(0, 100%, 67%, 0.077);
    gap: 44%;
    }

    #div1 { 
    color: hsl(0, 100%, 67%);
    }

    #box2{
    gap: 45%;
    background-color: hsla(39, 100%, 56%, 0.077);
    }

    #div2 {
    color:hsl(39, 100%, 56%);
    }

    #box3 {
    gap: 49%;
    background-color: hsla(166, 100%, 37%, 0.079);
    }

    #div3 {
    color:hsl(166, 100%, 37%);
    }

    #box4 {
    gap:49%;
    background-color: hsla(234, 85%, 45%, 0.079);
    }

    #div4 {
    color:hsl(234, 85%, 45%);
    }

    h4 {
    padding-right: 20px;
    }
    .imagedivs {
    height: 25px;
    width: 25px;
    }
    #secondh {
    color: hsl(224, 30%, 27%);
    font-size: 25px;
    font-weight: 600;
    }
    #btn {
    height: 70px;
    width: 100%;
    border:1px solid  hsl(224, 30%, 27%);
    background-color:  hsl(224, 30%, 27%);
    border-radius: 40px;
    color: white;
    font-size: 16px;
    }
}